:root {

    --primary-color: #F2B544;
    --secondary-color: #F2A649;
    --accent-color: #F27B50;

    --background-light: #5EBAF2;
    --background-dark: #007bff;

    --text-light: #ffffff;
    --text-dark: #212529;
}
