body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Navbar */
.navbar {
  background-color: #2384fa;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  flex-wrap: wrap;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #fffb00;
}

.menu-toggle {
  display: none;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #2384fa;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    padding: 1rem;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
}

.container {
  background-color: #c7e0ff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  color: #2384fa;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.description {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 18px;
  color: #555;
  line-height: 1.6;
  max-width: 600px;
  padding-bottom: 40px;
  margin: 0 auto;
}

.card {
  width: 90%;
  max-width: 500px;
  background: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-style: dashed;
  border-color: #2384fa;
  border-width: 2px;
}

.avatar-wrapper {
  margin-bottom: 1rem;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 1rem;
}

.form-group {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

input,
textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}

button {
  margin-top: 1.5rem;
  padding: 0.75rem;
  background: #2384fa;
  color: white;
  border: none;
  border-radius: 0.5rem;
  width: 100%;
  cursor: pointer;
}
